@charset "UTF-8";
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css');

@font-face {
    font-family: 'MabinogiClassicR2';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2207-01@1.0/MabinogiClassicR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'MabinogiClassicR';
    src: url('./font/Mabinogi_Classic_OTF.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}


